<h1 class="title">Publications</h1>
<div class="default-publication-search">
  <div class="col-md-11">
    <%= render "publications/partials/searchPartial" %>
  </div>
  <button type="button"
          id="searchToggle">
          <i class='fa fa-search' aria-hidden='true'></i>
  </button>
</div>

<% if @publications.length == 0 %>
  No results found
<% end %>

<% @publications.each_with_index do |publication, index| %>
  <%= render "publications/partials/publicationListPartial", publication: publication, index: index %>
<% end %>

<%= will_paginate @publications %>
