<h1 class="title">Publications</h1>
<div class="default-publication-search">
  <div class="col-md-11">
    <%= render "publications/partials/searchPartial" %>
  </div>
  <button type="button"
          id="searchToggle">
          <i class='fa fa-search' aria-hidden='true'></i>
  </button>
</div>

<% @publications.each do |publication| %>
  <%= render "publications/partials/publicationListPartial", publication: publication %>
<% end %>

<%= will_paginate @publications %>
