<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- top navigation -->
<div class="top_nav">

  <div class="nav_menu">
    <nav class="" role="navigation">
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">

            <% if current_member.avatar? %>
                <%= image_tag current_member.avatar.url %>
            <% else %>
                <i class="fa fa-user" aria-hidden="true" style="font-size: 25px; padding-left: 5px; padding-right: 5px;"></i>
            <% end %>

            <%= "#{current_member.firstName} #{current_member.lastName}" %>
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
            <li>
              <%= link_to "Profile", edit_member_path(current_member) %>
            </li>
            <li>
              <a href="javascript:;">Help</a>
            </li>
            <li>
              <%= link_to destroy_member_session_path, method: :delete do %>
                  <i class="fa fa-sign-out pull-right"></i> Log Out <span class="fa"></span>
              <% end %>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>

</div>
<!-- /top navigation -->
