<%= p.input :firstName, validate: true, error: false %>
<span class='help-block client_side_error' id="<%= "#{p.object_name}[firstName]" %>"></span>

<%= p.input :lastName, validate: true, error: false %>
<span class='help-block client_side_error' id="<%= "#{p.object_name}[lastName]" %>"></span>