<p>Choose some authors from the database to include in this publication:</p>
<%= simple_form_for([:admin,@publication,@author], url: admin_publication_create_from_db_path, remote: true) do |f| %>

    <%= render partial: 'admin/dashboard/errors',locals: {resource: @author} %>

    <div class="form-inputs">
      <%# hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.input :publication_id, as: :hidden %>

      <%= select_tag :people, options_from_collection_for_select(@people, :id, "full_name_for_select2"), id: "select2_box",
                     include_blank: true, style: "width: 100%;", html_options: {multiple: true} %>
    </div>

<% end %>
