<div id="footer">
  <p class="footer-content">
    Department of Computer Science, City College, 23 Dodekanisou Street 54626, Thessaloniki, Greece, Tel. +30 2310 536.544 South East European Research Centre, 24 Proxenou Koromila Str. 54622, Thessaloniki, Greece, Tel: +30 2310 253.477
  </p>
</div>
