<div id="footer">
  <div class="footer-content">
    <div class="row">
      <ul>
        <li>Department of Computer Science</li>
        <li>City College, 23 Dodekanisou Street 54626</li>
        <li>Thessaloniki, Greece</li>
        <li>Tel. +30 2310 536.544</li>
      </ul>
      <ul>
        <li>South East European Research Centre</li>
        <li>24 Proxenou Koromila Str. 54622</li>
        <li>Thessaloniki, Greece</li>
        <li>Tel: +30 2310 253.477</li>
      </ul>
      <div class="col-md-2">
        <%= image_tag("seerc", class: "seerc-logo") %>
      </div>
    </div>
    <div class="moutsounes">
      <%= link_to ("Designed and Developed by HAIP &copy; 2016").html_safe, developers_path %>
    </div>
  </div>
</div>
