<section id="about-us">
  <h1 class="title">Educational Informatics Research Group</h1>
  <p>
    City College is committed to initiatives that foster a culture of academic excellence. In the efforts to systematically strengthen the quality of education, technology is perceived as a catalyst that modernizes teaching and learning and as means of improving academic achievement and teacher effectiveness. In 2003, City College and the South-East European Research Centre (SEERC) established the Educational Informatics group for conducting multidisciplinary research focused on teaching, learning and technology. The EDIT research group is directed by the Computer Science Department of the college and belongs to the Information and Knowledge Management Research Cluster of SEERC.
  </p>
  <p>
    The vision of the EDIT group is to establish preeminence and leadership in the field of educational technology by engaging and facilitating activity related to educational innovation.
  </p>

  <h3>MISSION</h3>
  <ul>
    <li>
      engage in academically rigorous and socially meaningful research in the fields of educational technology, instructional design and curriculum development
    </li>
    <li>
      prepare individuals at the doctoral level to serve as outstanding educators and leaders in the field of educational informatics
    </li>
    <li>
      collaborate with universities, industry, research institutes and non-profit organizations to further the understanding and application of teaching and learning technologies
    </li>
    <li>
      formulate guidelines, policies, and strategies that promote effective technology-enhanced teaching/learning methods
    </li>
  </ul>

  <h3>RESEARCH AIMS</h3>
  <ul>
    <li>design, develop and evaluate innovative educational solutions that seamlessly integrate pedagogy and technology
    </li>
    <li>analyse challenges and opportunities related to the application of ICT in education
    </li>
    <li>investigate social and cultural issues raised by the use of ICT in education
    </li>
    <li>explore and formulate new pedagogic models, teaching strategies, informatics curricula and training programs
    </li>
  </ul>

  <h3>THEMATIC AREAS</h3>
    <p>	Research &amp; development activities pursued by the EDIT group are primarily focused in the following interrelated thematic areas:</p>
    <ul>
      <li>educational technology, virtual learning environments, e-learning and distance learning, instructional design
      </li>
      <li>lifelong learning, networked learning, ambient learning, collaborative learning, blended learning
      </li>
      <li>curriculum development, computer science education, entrepreneurial education, higher education, vocational training
      </li>
      <li>explore and formulate new pedagogic models, teaching strategies, informatics curricula and training programs
      </li>
    </ul>

  <h3>Other Activities</h3>
  <ul>
    <li>organization of educational technology oriented seminars and workshops for academic staff
    </li>
    <li>lifelong learning, networked learning, ambient learning, collaborative learning, blended learning
    </li>
    <li>curriculum development, computer science education, entrepreneurial education, higher education, vocational training
    </li>
    <li>collaboration with the Learning and Teaching Quality Assurance (LTQA) committee of the college
    </li>
  </ul>
</section>
