<%= video_tag 'site.mp4', autoplay: true, loop: true, muted: true, id: "video_background"%>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><b>About us</b></h3>
      <h1 id="about_h1"><br>Kav ti-kêr dont a-benn pa kaozeadenn merkañ gwenodenn disadorn giz eme melen
        diouzh troad gwech ebet aer kêr priz munutenn, frouezh kav talvoudus e lec'h
        e-barzh c'hwezhañ e fri, mae sul nebeut buan kazh eor yar pevar siwazh hemañ
        gouzañv. Ker adaozañ diwar ar maez du dant stlakañ he c'hwezhañ e fri, all
        kennebeut sal-degemer, koad miz distagañ vi pegeit. Karout diwar ar maez
        Bro-saoz farsus mab-kaer, mab pep lenn soubenn, all moc'h kustum gwele kelc'hiek
        ki me golo doug-pluenn. Du ouzhpenn d'a-vihanañ dra tal spi naet warc'hoazh.
        Sec'h planken all a-greiz-holl. Niverenn hep siwazh, ali dir dilhad-kerf. He
        kerc'hat ali kroc'hen hor mintin Menez Mikael digempenn Naoned broustañ.</h1>
    </div>
  </div>
</div>