<div class="row">
  <section id="contact-info">
    <h1 id="title">Contact Information</h1>
    <p>
      For any inquires or comments about the Educational Informatics Research Group please contact:
    </p>
    <div class="contact">
      <h3 class="contact-title">Thanos Hatziapostolou</h3>
      <span class="contact-content">Email: <a href="mailto:a.hatziapostolou@city.academic.gr">a.hatziapostolou@city.academic.gr</a></span>
    </div>
    <div class="contact">
      <h3 class="contact-title">CITY College</h3>
      <span class="contact-content">
        <ul>
          <li>International Faculty of the University of Sheffield</li>
          <li>13 Tsimiski Str, 54624 Thessaloniki, Greece</li>
          <li>Tel:+30.2310.275.575 - Fax:+30.2310.287.564</li>
        </ul>
      </span>
    </div>
  </section>
  <div id="contact-map">

  </div>
</div>
