<div class="row col-md-offset-2 col-md-8">
    <h1 class="highlight-0">The Group</h1>
    <p>
      The constant changes in societys needs, the global demands for knowledge and especially the rapid advancements of Information and Communication Technologies (ICT) are changing educations structures, cultures and processes. Here, at CITY College, the International Faculty of the University of Sheffield, we are committed to providing high quality education and strive to be internationally recognised for academic excellence, driven by pure and applied research. In our constant effort to improve the educational quality, the utilisation of technology is one of our strategic objectives since it provides innovative alternatives to teach, learn, communicate, and share knowledge.
    </p>
    <p>
      The EDucational InformaTics - EDIT is a multidisciplinary research group of CITY College and is directed by the Department of Computer Science. In collaboration with the South-East European Research Centre (SEERC), EDIT engages in academically rigorous and socially meaningful research focused on applications of information and communication technologies and instructional design for any educational environment. Our goal is to investigate innovative methods that facilitate teaching and foster learning and meet learners' growing needs, as well as, social and technological changes of the 21st century.
    </p>
</div>

<div class="row">
  <div class="row col-md-offset-2 col-md-4">
    <h3>Recent news</h3>
    <ul id="recent-news">
      <% @RecentNews.each do |item| %>
        <%= render "home/partials/newsListPartial", newsItem: item  %>
      <% end %>
    </ul>
  </div>

  <div class="row col-md-4">
    <h3>Recent publications</h3>
    <ul id="recent-publications">
      <% @RecentPublications.each do |item| %>
        <%= render "home/partials/publicationListPartial", publication: item  %>
      <% end %>
    </ul>
  </div>

  <div style="clear: both">
  Lorem ipsum dolor sit amet, his id odio solum graecis. Eum ea feugait eleifend, duo ad veri munere invenire. Pro cu ignota scaevola constituam, eam purto dicam in. No sea corpora constituto, nisl sumo causae sed an. Vitae ceteros splendide vix in, mea te nullam libris fabellas.

  Vel wisi labore delectus cu. Dolor homero electram ut eos. Lorem accusam atomorum an duo, no homero diceret sanctus mel, ius corrumpit laboramus assueverit ex. Ei ridens moderatius definiebas his, ius ut alienum cotidieque, eu omnes populo quo. At meis nominavi pro, mea ei nullam laoreet praesent.

  Elitr alienum percipitur has cu. Cum cu idque consetetur, ei commodo efficiantur nec, at legendos splendide liberavisse vis. Te semper admodum his, vivendo corpora accumsan at sit, reque virtute disputationi ne vim. Salutandi scriptorem deterruisset ea has, appetere dignissim suscipiantur id qui, ne senserit quaerendum duo.

  Probo libris fuisset sit cu, ex enim doctus adipisci duo. Ipsum lorem ne duo, evertitur prodesset vel te, nec tantas incorrupte ne. Facete detracto eu mel. Wisi facete apeirian pro an, pertinacia mediocritatem no sea. Eripuit eleifend ea usu, pri ei impetus volumus. Duo et eruditi admodum gubergren, cu ignota admodum oportere pro, his omnis omnes propriae ne.

  Nec cu numquam praesent appellantur, te sententiae dissentias interesset nam. Ei ius adhuc inermis iudicabit. Mei error facilisis theophrastus no, eu cum dicam complectitur. Unum salutatus eam id, habeo equidem concludaturque mei no, te ius paulo audire. Ea graece melius invidunt nec.

  Lorem ipsum dolor sit amet, his id odio solum graecis. Eum ea feugait eleifend, duo ad veri munere invenire. Pro cu ignota scaevola constituam, eam purto dicam in. No sea corpora constituto, nisl sumo causae sed an. Vitae ceteros splendide vix in, mea te nullam libris fabellas.

Vel wisi labore delectus cu. Dolor homero electram ut eos. Lorem accusam atomorum an duo, no homero diceret sanctus mel, ius corrumpit laboramus assueverit ex. Ei ridens moderatius definiebas his, ius ut alienum cotidieque, eu omnes populo quo. At meis nominavi pro, mea ei nullam laoreet praesent.

Elitr alienum percipitur has cu. Cum cu idque consetetur, ei commodo efficiantur nec, at legendos splendide liberavisse vis. Te semper admodum his, vivendo corpora accumsan at sit, reque virtute disputationi ne vim. Salutandi scriptorem deterruisset ea has, appetere dignissim suscipiantur id qui, ne senserit quaerendum duo.

Probo libris fuisset sit cu, ex enim doctus adipisci duo. Ipsum lorem ne duo, evertitur prodesset vel te, nec tantas incorrupte ne. Facete detracto eu mel. Wisi facete apeirian pro an, pertinacia mediocritatem no sea. Eripuit eleifend ea usu, pri ei impetus volumus. Duo et eruditi admodum gubergren, cu ignota admodum oportere pro, his omnis omnes propriae ne.

Nec cu numquam praesent appellantur, te sententiae dissentias interesset nam. Ei ius adhuc inermis iudicabit. Mei error facilisis theophrastus no, eu cum dicam complectitur. Unum salutatus eam id, habeo equidem concludaturque mei no, te ius paulo audire. Ea graece melius invidunt nec.

Lorem ipsum dolor sit amet, his id odio solum graecis. Eum ea feugait eleifend, duo ad veri munere invenire. Pro cu ignota scaevola constituam, eam purto dicam in. No sea corpora constituto, nisl sumo causae sed an. Vitae ceteros splendide vix in, mea te nullam libris fabellas.

Vel wisi labore delectus cu. Dolor homero electram ut eos. Lorem accusam atomorum an duo, no homero diceret sanctus mel, ius corrumpit laboramus assueverit ex. Ei ridens moderatius definiebas his, ius ut alienum cotidieque, eu omnes populo quo. At meis nominavi pro, mea ei nullam laoreet praesent.

Elitr alienum percipitur has cu. Cum cu idque consetetur, ei commodo efficiantur nec, at legendos splendide liberavisse vis. Te semper admodum his, vivendo corpora accumsan at sit, reque virtute disputationi ne vim. Salutandi scriptorem deterruisset ea has, appetere dignissim suscipiantur id qui, ne senserit quaerendum duo.

Probo libris fuisset sit cu, ex enim doctus adipisci duo. Ipsum lorem ne duo, evertitur prodesset vel te, nec tantas incorrupte ne. Facete detracto eu mel. Wisi facete apeirian pro an, pertinacia mediocritatem no sea. Eripuit eleifend ea usu, pri ei impetus volumus. Duo et eruditi admodum gubergren, cu ignota admodum oportere pro, his omnis omnes propriae ne.

Nec cu numquam praesent appellantur, te sententiae dissentias interesset nam. Ei ius adhuc inermis iudicabit. Mei error facilisis theophrastus no, eu cum dicam complectitur. Unum salutatus eam id, habeo equidem concludaturque mei no, te ius paulo audire. Ea graece melius invidunt nec.
</div>
