<% @news.each do |year, newsForYear| %>
  <h1><%= year %></h1>
  <% newsForYear.each do |newsItem| %>
    <div class="row">
      <%= render "home/partials/newsPartial", item: newsItem %>
    </div>
  <% end %>
<% end %>
