<section id="projects">

  <div class="page-header">
    <h1 class="about-title">Projects</h1>
  </div>

  <% @projects.each do |project| %>
    <%= render 'home/partials/project_partial', project: project %>
  <% end %>

</section>
