<section id="projects">
  <div class="row">
    <h1 class="projects-header">Projects</h1>
  </div>

  <% @projects.each do |project| %>
    <%= render 'home/partials/project_partial', project: project %>
  <% end %>

</section>
