<%= simple_form_for([:admin,@project], url: admin_projects_create_participants_path(id: @project.id),remote: true, html: { id: "form_main" }) do |f| %>

    <%= render partial: 'admin/dashboard/errors',locals: {resource: @project} %>

    <div class="form-inputs">

      <%= link_to_add_association 'add project participant', f, :participants, partial: 'admin/dashboard/participant_fields_multiple',
                                  render_options: { locals: {au: f} } %>

    </div>

<% end %>
