// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

// As hex codes */

$color-primary-0: #2990C8;	// Main Primary color */
$color-primary-1: #75BBE1;
$color-primary-2: #4BA3D3;
$color-primary-3: #097FBE;
$color-primary-4: #055B89;

$color-secondary-1-0: #FFC529;	// Main Secondary color (1) */
$color-secondary-1-1: #FFDC7E;
$color-secondary-1-2: #FFD051;
$color-secondary-1-3: #FFBA00;
$color-secondary-1-4: #D99E00;

$color-secondary-2-0: #FF5929;	// Main Secondary color (2) */
$color-secondary-2-1: #FF9B7E;
$color-secondary-2-2: #FF7851;
$color-secondary-2-3: #FF3900;
$color-secondary-2-4: #D93100;


$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow
