<div class="row" style="font-size: 30px"> UNDER CONSTRUCTION</div>
<div class="container-fluid">

  <%= simple_form_for([:admin,@publication], url: admin_publication_create_from_bibtex_path, method: "POST", remote: true, html: { id: "bibtex-form" }, authenticity_token: true) do |f| %>

    <%= render partial: 'admin/dashboard/errors',locals: {resource: @publication} %>

    <div class="row">
      <div class="left-column">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :bibtex_entry, as: :text, label: "Paste your bibtex entry here:", input_html: { id: "entry", style: "min-height: 300px"} %>
          </div>
        </div>
      </div> <!--end of left-column-->

      <div class="right-column">
        <div class="row">
          <div class="col-md-12">
            <h4> Preview</h4>
            <div id="journal-fields" style="display: none">
              <div class="row">title: <div id="preview-journal-title"> </div> </div>
              <div class="row">journal: <div id="preview-journal-name"> </div> </div>
              <div class="row"> volume: <div id="preview-journal-volume"> </div></div>
              <div class="row">issue: <div id="preview-journal-issue"> </div> </div>
              <div class="row"> pages: <div id="preview-journal-pages"> </did></div>
              <div class="row"> year: <div id="preview-journal-year"> </div></div>
              <div class="row"> authors: <div id="preview-journal-authors"></div></div>
            </div>
          </div>
        </div>
      </div> <!--end of right-column-->

    </div> <!--end row-->

  <% end %> <!--end of form-->
</div> <!--end of container-fluid-->
