@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate.min";
@import "font-awesome";
@import "select2";
@import "select2-bootstrap";
@import "header.css";
@import "home";
@import "members";

//Layout
#logged_in_label {
  color:#DE5E60;
}

#flash_notification {
  text-align: center;
}

body {
  background-color: #EDE6C2;
}
