@import "application";
@import "bourbon";
@import "partials/mixins";
@import "partials/variables";
@import "partials/layout";
@import "header";
@import "footer";
@import "home";
@import "members";
@import "publications";
@import "newsevents";
@import "about";
@import "contact";
@import "projects";
@import "cookies_eu";

* {
  font-family: $global-font;
}

//Layout
#flash_notification {
  text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
}

header {

}

#yield-container {
  margin-top: 5px;
  flex: 1;
}

a, p, h1, h2, h3, h4, h5, h6, span, div {

  &.highlight-1 {
    color: $color-secondary-1;
  }


}
