#navigation.affix {
  top: 0;
  width: 100%;
  z-index: 15;
}

/*#header-image {
  max-height: 150px;
  width:100%;
}*/

#navigation {
  border-radius: 0px !important;
}

#brand span {
  color: #ffd500;
}

#brand:hover span {
  color: #FAE88E;
}
