$nav-color : $color-primary;

#navigation {
  border-radius: 0px !important;
  background-color: $nav-color;
  border-color: darken($nav-color, 10%);

  &.affix {
    top: 0px;
    width: 100%;
    z-index: 15;
  }
  & >.container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-nav {
    width: 100%;
    .dropdown {
      &.open > a {
          background-color: $color-primary-dark;
      }
      .dropdown-menu {
        li {
          width: 100%;
          a {
            color: text-contrast(white);
            &:hover {
              color: text-contrast($nav-color);
            }
          }
        }
      }
    }
  }
  li {
    a {
      color: text-contrast($nav-color);

      &:hover {
        background-color: $color-primary-dark;
        color: text-contrast($color-primary-dark);
      }
    }
    &.active {
      a {
        background-color: $color-primary-highlight;
      }
    }
  }
  .login-module {
    @extend .pull-right;
  }
}
