@import "partials/variables";
#navigation {
  border-radius: 0px !important;
  &.affix {
    top: 0px;
    width: 100%;
    z-index: 15;
  }
}

#brand {
  span {
    color: $main-color;
  }
  &:hover {
    span{
      color: $accent-color-1;
    }
  }
}
