.member-row {
  @extend .row;

  .member-card {
    @extend .col-md-3;
    @extend .col-sm-6;
    @extend .col-xs-8;
    @extend .col-md-offset-0;
    @extend .col-sm-offset-3;
    @extend .col-xs-offset-2;
    padding: 10px;
    // margin-bottom: 10px;
    border-radius: 1px;
    text-align: center;


    // &:first-child {
    //   @extend .col-md-offset-1;
    // }
    //
    // &:not(:first-child) {
    //   @extend .col-md-offset-2;
    // }

    .member-image {
      @extend .img-responsive;
      width: 100%;
      margin-bottom: 4px;
      -moz-box-shadow: 0px 4px 11px rgba(204, 204, 204, 1);
      -webkit-box-shadow: 0px 4px 11px rgba(204, 204, 204, 1);
      box-shadow: 0px 4px 11px rgba(204, 204, 204, 1);
    }

    .member-name {
      padding: 0px;
      margin: 0px;
      width: 100%;
      font-size: calculateRem(18px);
    }

    .member-position {
      padding: 0px;
      margin: 0px;
      width: 100%;
      font-size: calculateRem(14px);
    }

    .member-websites {
      text-align: center;

      a {
        font-size: calculateRem(24px);
        color: $color-secondary-1;
        text-align: center;
        vertical-align: middle;
      }
      a:hover {
        text-decoration: none;
      }
      .website-logo {
        @extend .img-responsive;
        display: inline-block;
        max-width: 20px;
        margin: 2px 5px;
        //float: left;
      }
    }//member-websites

    .member-show-more-button {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 70px;
      margin-right: 10px;
      opacity: 0;
      width: 70px;
      display: none;
      font-size: 20px;
      border: 0;
      border-radius: 50%;
      background: white;
      color: black;
      transition: all 0.3s ease;
      outline: 0;
      box-shadow: 0 2px 4px rgba(0,0,0, 0.12), 0 2px 4px rgba(0,0,0, 0.24);
    }

    &:hover {
      .member-show-more-button {
        opacity: 1;
        display: block;
      }
    }

    &.active:hover .member-show-more-button {
      display: none;
    }

    .info-icon {
      font-size: 34px;
      color: $color-primary-highlight;
    }
  }//card

  .member-bio {
    @extend .col-md-9;
    display: none;

    p {
      font-size: 20px;
    }
  }

}//row

// Edit profile
.div-save-button-member-form {
  @extend .col-md-1;
  padding-top: 10px;
}

.save-button-member-form {
  @extend .pull-right;
  font-size: 16pt;
}

.form-div {
  @extend .col-md-11;
  padding-right: 18px;
  padding-top: 10px
}
