.news-item {
  //@extend .panel;
  //@extend .panel-default;
  @extend .col-md-12;
  border: 0;
  margin-bottom: 70px;
  padding-bottom: 10px;
  border-bottom: 2px solid #efebe8;

  border-radius: 0 !important;

  .news-date-column {
    @extend .col-md-1;
    @extend .col-sm-1;
    @extend .col-xs-1;
  }

  .news-item-heading p {
    @extend .col-md-11;
    @extend .col-sm-11;
    @extend .col-xs-11;
    @include font-size(27px);
    border-radius: 0 !important;
  }

  .news-item-content {
    //@extend .col-md-offset-1;
    //border-bottom: 2px solid #efebe8;
    padding-top: 10px;
    padding-bottom: 10px;

    &.open {
      >.content-wrapper {
        &:first-child {
          @extend .col-md-11;
          @extend .col-sm-offset-1;
          @extend .col-xs-offset-1;
          //text-overflow: ellipsis;
        	//white-space: nowrap;
        	overflow-y: hidden;
        	padding-right: 10px;
          text-align: justify;
        }

        &:not(:first-child) {
          display: none;
        }
      }
      >button {
        content: "Show Less"
      }
    }

    >button {
      content: "Show More"
    }

    &.ellipsis {
      >.content-wrapper {
        &:first-child {
          @extend .col-md-11;
          @extend .col-sm-offset-1;
          @extend .col-xs-offset-1;
          text-overflow: ellipsis;
        	//white-space: nowrap;
        	overflow: hidden;
          max-height: 3.6em;
          line-height: 1.8em;
        	padding-right: 10px;
          text-align: justify;
        }

        &:not(:first-child) {
          display: none;
        }
      }
      >button {
        content: "Show Less"
      }
    }

    >button {
      content: "Show More"
    }

  }

  .news-item-read-more-button {
    @extend .row;
    padding-left: 23px;
    padding-right: 23px;
  }

  .date {
  position: relative;
  width: 70px;
  font-family: Georgia, serif;
  color: $color-secondary-1;
  //margin: 0 auto;
 }

  .day, .month, .year {
    position: absolute;
  }

  .day {
    font-size: 30px;
    top: 15px;
  }

  .month {
    top: 0;
    left: 0;
    font-size: 18px;
  }

  .year {
    top: 19px;
    right: 0;
    font-size: 20px;
    rotation: -90deg !important;
    /* ** Hacks ** */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}

.news-year-h1 {
  font-size: 37px;
}
