.projects-header {
  text-align: center;
  border-bottom: 1px solid #FA9526;
  margin-bottom: 50px;
}

.project-row {
  @extend .row;
  padding-bottom: 30px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eaeae9;
  //border-bottom: 1px solid $color-secondary-1;
}

.project-motto {
  font-style: italic;
  //color: rgb(144, 102, 55);
  color: $color-secondary-2;
}

.project-title {
  @include font-size(24px);
  font-weight: 800;
}

.project-description {
  @include font-size(15px);
  padding-top: 30px;
  padding-bottom: 20px;
}

.project-participants {
  border-top: 2px solid #dddddd;
  padding-top: 10px;
}

.project-video {
  @extend .col-md-4;
  @extend .col-sm-12;
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
  padding-bottom: 300px;
  padding-right: 20px;
  padding-left: 10px;
}

.project-participant-table-header {
  border-bottom: 0;
}

.project-participants-table > thead > tr > th {
  border-bottom: 0;
}

.project-website-icon {
  @include font-size(18px)
}
