<p>Choose some people from the database to include in this project:</p>
<%= simple_form_for([:admin,@project,@participation], url: admin_project_create_from_db_path, remote: true, html: { id: "form_main" }) do |f| %>

    <%= render partial: 'admin/dashboard/errors',locals: {resource: @participation} %>

    <div class="form-inputs">
      <%= f.input :project_id, as: :hidden %>

      <%= select_tag :participants, options_from_collection_for_select(@participants, :id, "full_name"), id: "select2_box",
                     include_blank: true, style: "width: 100%;", html_options: {multiple: true} %>
    </div>

<% end %>
