<%= simple_form_for(@member, html: { multipart: true, id: "form_image" }) do |f| %>

    <%= render partial: 'admin/dashboard/errors',locals: {resource: @member} %>

    <div class="form-inputs">

      <p>Please make sure that your image's size is 400x400. All images will be automatically resized to 400x400 and your image will look distorted if it is not in the correct size and aspect ratio. Acceptable file types: png, jpg, gif.</p>

      <%= f.file_field :avatar %>

    </div>

<% end %>
