<% max_per_row = 4 %>
<div class="page-header">
  <h1 class="title">Research Group Members</h1>
</div>
<h1>Staff Members</h1>
<% rows = (@staff.size / max_per_row).to_i + 1 %>
<% rows.times do |y| %>
  <div class="member-row">
    <% max_per_row.times do |x| %>
      <% index = y * max_per_row + x %>
      <% if (index < @staff.size) %>
        <%= render "members/partials/memberListPartial", member: @staff.at(index) %>
      <% end %>
    <% end %>
  </div>
<% end %>
<h1>Student Members</h1>
<% rows = (@students.size / max_per_row).to_i + 1 %>
<% rows.times do |y| %>
  <div class="member-row">
    <% max_per_row.times do |x| %>
      <% index = y * max_per_row + x %>
      <% if (index < @students.size) %>
        <%= render "members/partials/memberListPartial", member: @students.at(index) %>
      <% end %>
    <% end %>
  </div>
<% end %>
