<div class="page-header">
  <h1 class="highlight-0">Research Group Members</h1>
</div>
<h1>Staff Members</h1>
<% rows = (@staff.size / 3).to_i + 1 %>
<% rows.times do |y| %>
  <div class="member-row">
    <% 3.times do |x| %>
      <% index = y * 3 + x %>
      <% if (index < @staff.size) %>
        <%= render "members/partials/memberListPartial", member: @staff.at(index) %>
      <% end %>
    <% end %>
  </div>
<% end %>
<h1>Student Members</h1>
<% rows = (@students.size / 3).to_i + 1 %>
<% rows.times do |y| %>
  <div class="member-row">
    <% 3.times do |x| %>
      <% index = y * 3 + x %>
      <% if (index < @students.size) %>
        <%= render "members/partials/memberListPartial", member: @students.at(index) %>
      <% end %>
    <% end %>
  </div>
<% end %>
